{% load crispy_forms_tags %}
{% load static %}
<div class="modal-header">
    <h2 class="modal-title darkgreen-text"  >Nuevo seguimiento a {{interesado.nombre}} {{interesado.apellido}}</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
   
</div>
<form method="POST" id="form-seguimiento-interesado" action="{% url 'interesado_nuevo_seguimiento' interesado.pk %}" datos-eventos-url="{% url 'ajax_load_eventos_Natural' %}">
    {% csrf_token %}

    <div class="modal-body">
        <div class="row darkwhite-bg py-2 pb-3">
            <div class="col-12">
                <h5 class=" border-bottom rounded-lg border-success darkgreen-text ">Datos del nuevo seguimiento</h5>
               
               <div class="form-row">
                    <div class="col-6 col-md-3 mb-0 ">
                        {{seguimientos_form.n_registro_interesado|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3 mb-0 ">
                        {{seguimientos_form.fecha_registro|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3 mb-0 ">
                        {{seguimientos_form.fecha_seguimiento|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3 mb-0 ">
                        {{seguimientos_form.estado_seguimiento|as_crispy_field}}
                    </div>
                    
               </div>

                <div class="form-row">
                    <div class="col-6 col-md-3 mb-0 ">
                        {{seguimientos_form.canal_de_contacto|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3 mb-0 ">
                        {{seguimientos_form.proximo_seguimiento|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3 mb-0 ">
                        {{seguimientos_form.estado_participante|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-1 mb-0 ">
                        {{seguimientos_form.exito|as_crispy_field}}
                    </div>
                </div>

                 <div class="form-row">
                    <div class="col-6 col-md-2 mb-0 ">
                        {{seguimientos_form.cod_evento|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-10 mb-0 ">
                        {{seguimientos_form.nombre_evento|as_crispy_field}}
                    </div>
                </div>

                 <div class="form-row">
                    <div class="col-12 col-md-12 mb-0 ">
                         {{seguimientos_form.observaciones|as_crispy_field}}
                    </div>
                    
                </div>

            
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-secondary green-bg mr-3" type="submit"> Guardar </button>
    </div>
</form>

<script src="{% static 'js/seguimientos_interesados_select2.js' %}"></script>
<script src="{% static 'js/modal_confirmacion_errors.js' %}"></script>
