{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-9 col-sm-9 col-xl-9">
        <h3>NUEVO REGISTRO DE NOTAS <span class="darkgreen-text">PRIMERA EVALUACION</span></h3>
    </div>
</div>

<div class="form-group row">
    <label for="codigo_evento" class="col-sm-2 col-form-label">Código Evento:</label>
    <div class="col-sm-3">
        <input id="codigo_evento" name="codigo_evento" type="text" class="form-control"
            oninvalid="this.setCustomValidity('Ingrese un codigo válido')" oninput="this.setCustomValidity('')"
            onchange="llenarNombre()" required>
    </div>
    <div class="col-sm-7">
        <input id="nombre_evento" name="nombre_evento" type="text" class="form-control"
            oninvalid="this.setCustomValidity('Ingrese un apellido válido')" oninput="this.setCustomValidity('')"
            required disabled>
    </div>
</div>
<h4 class="darkgreen-text">Detalle de evaluacion</h4>
<div class="form-group row">
    <label for="fecha" class="col-sm-3 col-form-label">Fecha de registro:</label>
    <label for="tipo" class="col-sm-3 col-form-label">Tipo de evento:</label>
    <label for="inicio" class="col-sm-3 col-form-label">Fecha inicio:</label>
    <label for="fin" class="col-sm-3 col-form-label">Fecha fin:</label>
</div>
<div class="form-group row">
    <div class="col-sm-3">
        <input id="fecha" name="fecha" type="text" class="form-control"
            oninvalid="this.setCustomValidity('Ingrese un codigo válido')" oninput="this.setCustomValidity('')" required
            disabled>
    </div>
    
    <div class="col-sm-3">
        <input id="tipo" name="tipo" type="text" class="form-control"
            oninvalid="this.setCustomValidity('Ingrese un codigo válido')" oninput="this.setCustomValidity('')" required
            disabled>
    </div>
    
    <div class="col-sm-3">
        <input id="inicio" name="inicio" type="text" class="form-control"
            oninvalid="this.setCustomValidity('Ingrese un codigo válido')" oninput="this.setCustomValidity('')" required
            disabled>
    </div>
    
    <div class="col-sm-3">
        <input id="fin" name="fin" type="text" class="form-control"
            oninvalid="this.setCustomValidity('Ingrese un codigo válido')" oninput="this.setCustomValidity('')" required
            disabled>
    </div>
</div>
<div class="form-group row">
    
    <label for="fac" class="col-sm-2 col-form-label">Facilitador:</label>
    <div class="col-sm-3">
        <input id="fac" name="fac" type="text" class="form-control"
            oninvalid="this.setCustomValidity('Ingrese un codigo válido')" oninput="this.setCustomValidity('')" required
            disabled>
    </div>
    <div class="col-sm-7">
        <input id="nombre_fac" name="nombre_fac" type="text" class="form-control"
            oninvalid="this.setCustomValidity('Ingrese un apellido válido')" oninput="this.setCustomValidity('')"
            required disabled>
    </div>
</div>
<div class="form-group row">
    <label for="co" class="col-sm-2 col-form-label">Cofacilitador:</label>
    <div class="col-sm-3">
        <input id="co" name="co" type="text" class="form-control"
            oninvalid="this.setCustomValidity('Ingrese un codigo válido')" oninput="this.setCustomValidity('')" required
            disabled>
    </div>
    <div class="col-sm-7">
        <input id="nombre_co" name="nombre_co" type="text" class="form-control"
            oninvalid="this.setCustomValidity('Ingrese un apellido válido')" oninput="this.setCustomValidity('')"
            required disabled>
    </div>
</div>
<div class="row mt-4">
    <div class="col-16 col-xl-16 table-container">
        <table class="table table-responsive table-bordered" id="tablacierre">
        <thead class="white-text darkgreen-bg">
            <tr scope="col">
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha fin</th>
                <th scope="col">Estado</th>
                <th scope="col">Duración</th>
                <th scope="col">Notas 1era evaluacion</th>
                <th scope="col">Fecha registro (1era)</th> 
                <th scope="col">Notas mejoramiento</th>
                <th scope="col">Fecha registro (mej)</th> 
                <th scope="col">Asistencias</th>  
                <th scope="col">Fecha cierre</th>  
                <th scope="col">Satisfaccion</th>   
                <th scope="col">Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="rol" class="codigo_evento"></td>
                <td scope="rol" class="nombre_evento"></td>
                <td scope="rol" class="inicio"></td>
                <td scope="rol" class="fin"></td>
                <td scope="rol" class="estado"></td>
                <td scope="rol" class="duracion"></td>
                <td scope="rol" class="notas_1"></td>
                <td scope="rol" class="fecha_1"></td>
                <td scope="rol" class="notas_2"></td>
                <td scope="rol" class="fecha_2"></td>
                <td scope="rol" class="asistencias"></td>
                <td scope="rol" class="fecha_cierre"></td>
                <td scope="rol" class="satisfaccion"></td>
                <td scope="rol" class="usuario"></td>
            </tr>
        </tbody>
        </table>
        </div>
        </div>
        
<hr>
<form id="cierre" onsubmit="return validate()" action="{% url 'registrar_notas1' %}" method="POST" >
    {% csrf_token %}
    
<hr>
<button type="submit" class="btn btn-success btn-lg submit">Agregar calificaciones</button>
</form>
<!-- </form> -->
{% endblock %}
{% block specific_scripts %}
<script>
    function llenarNombre() {
        let codigo = $("#codigo_evento").val();
        $.ajax({
            url: "/academico/api/event/evento/"+codigo+"/",
            data: {},
            success: function (data) {
                console.log(data);
                $("#nombre_evento").val(data['nombre']);
                $.ajax({
                url: "/academico/api/event/docente/"+data['docente']+'/',
                dataa: {},
                success: function(dataa) {
                    $("#fac").val(dataa['numero_de_cedula']);
                    $("#nombre_fac").val(dataa['nombres']+' '+dataa['apellidos']);
                  }
                });
                $("#tipo").val(data['tipo_evento']);
                hoy = new Date();
                $("#fecha").val(hoy.getFullYear() + "-" + (hoy.getMonth() +1) + "-" + hoy.getDate());
                $("#inicio").val(data['fecha_inicio']);
                $("#fin").val(data['fecha_fin']);

            },
            error: function(){
                $("#nombre_evento").val("");
            }
        });
    }
</script>
{% endblock %}