{% extends "base_ventas.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ "EC - Seguimientos Personas Naturales" }}{% endblock title %}

{% block extraheader %}
{% endblock extraheader %}

{% block content %}
<div class="row mb-2 d-flex white-bg">
    <div class="col-9 v-align">
        <h2>CONSULTAS <span class="darkgreen-text">SEGUIMIENTO PERSONA NATURAL</span></h2>
    </div>
    <div class="col-3 v-align">
        <a class="btn btn-secondary green-bg float-right" href="{% url 'seguimiento_evento_natural'%}"><i
                class="fas fa-plus"></i>
            Seguimiento por Evento</a>
    </div>
</div>
<div class="row darkwhite-bg py-2">
    <div class="col-12">
        <form action="" method="get">
            <div class="form-row ">

                <div class="col-4">
                    {{ filter.form.cod_evento|as_crispy_field }}
                </div>

                <div class="col-8">
                    {{ filter.form.nombre_evento|as_crispy_field }}
                </div>

            </div>

            <div class="form-row ">
                <div class="col-3">
                    {{ filter.form.estado_seguimiento|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ filter.form.canal_de_contacto|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ filter.form.exito|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ filter.form.asesor|as_crispy_field }}
                </div>
            </div>

            <div class="form-row ">
                <div class="col-6">
                    {{ filter.form.pers_natural__cedula|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ filter.form.pers_natural__nombres|as_crispy_field }}
                </div>
            </div>

            <div class="form-row ">
                <div class="col-4">
                    {{ filter.form.tipo_inscripcion|as_crispy_field }}
                </div>
                <div class="col-8">
                    {{ filter.form.fecha_seguimiento}}
                </div>
            </div>

            <div class="form-row ">
                <div class="col-8">
                    {{ filter.form.fecha_registro}}
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-secondary green-bg float-right"><i class="fas fa-search"></i>
                    Buscar</button>
            </div>

        </form>

    </div>
</div>

<div class="row mt-4">
    <div class="col-12 col-xl-12">
        <table id="dtBasicExample" class="table border-bottom table-responsive">
            <thead class="white-text darkgreen-bg">
                <tr class="text-center">
                    <th scope="col">Nº </th>
                    <th scope="col">Fecha Seguimiento</th>
                    <th scope="col">Código Evento</th>
                    <th scope="col">Nombre Evento Interes</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Nombre del Participante</th>
                    <th scope="col">Observación</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Canal de Contacto</th>
                    <th scope="col">Estado Seguimiento</th>
                    <th>Estado del Participante</th>
                    <th scope="col">%Éxito</th>
                    <th scope="col">Asesor/a</th>
                    <th scope="col">Fecha Registro</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            {% if filter.qs %}

            <tbody>

                {% for seguimiento in filter.qs %}
                <tr class="text-center">
                    <td scope="row">{{seguimiento.n_registro}}</td>
                    <td scope="row">{{seguimiento.fecha_seguimiento}}</td>
                    <td scope="row">{{seguimiento.cod_evento}}</td>
                    <td scope="row">{{seguimiento.nombre_evento}}</td>
                    <td scope="row">{{seguimiento.pers_natural.cedula}}</td>
                    <td scope="row">{{seguimiento.pers_natural.nombres | upper}}
                        {{seguimiento.pers_natural.apellidos | upper}}</td>
                    <td scope="row">{{seguimiento.observaciones}}</td>
                    <td scope="row">{{seguimiento.pers_natural.celular}}</td>
                    <td scope="row">{{seguimiento.pers_natural.email}}</td>
                    <td scope="row">{{seguimiento.canal_de_contacto}}</td>
                    {% if seguimiento.estado_seguimiento == "PCTC" %}
                    <td class="bg-warning" scope="row">{{seguimiento.get_estado_seguimiento_display}}</td>
                    {% else %}
                    <td scope="row">{{seguimiento.get_estado_seguimiento_display}}</td>
                    {% endif %}
                    <td scope="row">{{seguimiento.get_estado_participante_display}}</td>
                    <td scope="row">{{seguimiento.exito}}</td>
                    <td scope="row">{{seguimiento.asesor}}</td>
                    <td scope="row">{{seguimiento.fecha_registro}}</td>
                    <td scope="row">
                        <div class="col-auto text-truncate text-center">

                            {% if user.pk == seguimiento.asesor.pk %}
                            <a class="btn btn-secondary btn-sm"
                                href="{% url 'seguimiento_natural_editar' seguimiento.pk %}"><i
                                    class="fas fa-edit"></i></a>
                            {% else %}
                            <a href='#' class="btn btn-secondary btn-sm" data-toggle='modal'
                                data-user='{{seguimiento.asesor}}' data-target="#segCenter"
                                data-seg="{% url 'seguimiento_natural_editar' seguimiento.pk %}">
                                <i class="fas fa-edit"></i></a>
                            {% endif%}

                            <!-- <br>
                        <br>
                        <a onclick='eliminarSN({{ seguimiento.pk }});' class="btn btn-danger btn-sm"
                data-toggle='modal' data-target="#seguimientoNaturalEliminar" href='#'><i
                    class="fas fa-trash"></i></a> -->
                        </div>
                    </td>

                </tr>
                {% endfor %}


            </tbody>
            {% else %}
            <h2>No hay elementos que mostrar</h2>
            {% endif %}
        </table>

    </div>
</div>
<div class="modal fade" id="segCenter" tabindex="-1" role="dialog" aria-labelledby="segTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="segTitle">Alerta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="white-space: pre-line">

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="">Continuar</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extrafooter%}
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/fecha_naturales.js' %}"></script>
<script>

    function eliminarSN(id) {
        $.ajax({
            url: "{% url 'seguimiento_natural_confirmar_eliminar' %}",
            data: {
                'pk': id,
            },
            success: function (data) {
                $("#sne").html(data)
            }
        });
    };

    $('#segCenter').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var recipient = button.data('seg');
        var user = button.data('user');
        var modal = $(this)
        modal.find('.modal-body').text("Este seguimiento fue creado por " + user + ".\n¿Está seguro de querer editarlo?");
        modal.find('a').attr('href', recipient);
    })
</script>

{% endblock extrafooter %}