{% extends "base_ventas.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load index %}

{% block title %}{{ "EC - Seguimiento Evento Persona Natural" }}{% endblock title %}

{% block extraheader %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/select2-bootstrap.min.css' %}" />
{% endblock extraheader %}

{% block content %}
<form method="POST" novalidate id="form-segEvent" enctype="multipart/form-data"
    data-eventO-url="{% url 'seguimiento_evento_natural_loadEventO' %}" data-eventD-url="{% url 'seguimiento_evento_natural_loadEventD' %}">
    {% csrf_token %}
    {% block editar %}

    <div class="row mb-2">
        <div class="col-6 col-xl-5 ml-0 v-align">
            <h2 class="darkgreen-text text-uppercase mb-0">NUEVO SEGUIMIENTO PERSONAS NATURALES POR EVENTO</h2>
        </div>
    </div>
    {% endblock editar %}

    <div class="row darkwhite-bg py-2">
        <div class="col-12">

            <div class="form-row">
                <div class="col-6 col-md-2 mb-0">
                    {{ form.codigo_eventoO|as_crispy_field }}
                </div>
                <div class="col-6 col-md-4 mb-0">
                    {{ form.nombre_eventoO|as_crispy_field }}
                </div>
                
            </div>

            <div class="form-row">
				<div class="mt-2 campo p-2 pl-3 col-12">
					<h5 class="black-text text-uppercase mb-0">Datos del Nuevo Seguimiento</h5>
				</div>
			</div>


            <div class="form-row">
                <div class="col-6 col-md-2 mb-0">
                    {{ form.fecha_registro|as_crispy_field }}
                </div>
                <div class="col-6 col-md-2 mb-0">
                    {{ form.fecha_seguimiento|as_crispy_field }}
                </div>
                <div class="col-6 col-md-2 mb-0">
                    {{ form.estado_seguimiento|as_crispy_field }}
                </div>
                <div class="col-6 col-md-2 mb-0">
                    {{ form.canal_contacto|as_crispy_field }}
                </div>
                <div class="col-6 col-md-1 mb-0">
                    {{ form.exito|as_crispy_field }}
                </div>
                <div class="col-6 col-md-2 mb-0">
                    {{ form.estado_participante|as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="col-6 col-md-2 mb-0 text-success">
                    {{ form.codigo_eventoD|as_crispy_field }}
                </div>
                <div class="col-6 col-md-4 mb-0 text-success">
                    {{ form.nombre_eventoD|as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="col-6 col-md-6 mb-0">
                    {{ form.observaciones|as_crispy_field }}
                </div>
            </div>

            </div>
        </div>
    <br>
    

    <div class="col-12">
        <button  type="submit" class="btn btn-secondary green-bg">Guardar</button>
        <a class="btn btn-secondary" href="{% url 'index_seguimientos_personas_naturales' %}">Cancelar</a>
        
    </div>    
</form>


{% endblock content %}

{% block extrafooter %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{% static 'js/seguimiento_evento_natural.js' %}"></script>
{% endblock extrafooter %}